# Copy this file and rename it to .env
# Fill in your actual values

# Server
PORT=5000

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password_here
DB_NAME=mediflow_db

# JWT Secret (use any long random string)
JWT_SECRET=mediflow_super_secret_jwt_key_2026
JWT_EXPIRES_IN=7d
